/* padding = space bitween content and border*/
/* Margin = space outside border */

h1{
    border: 4px solid brown;
    /* padding-left: 40px ;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 50px; */

    /* all side same padding  */
    padding: 50px;

    /* padding top-bottom left-right */
    /* padding: 25px 30px; */

    /* in all different directions-> top-right-bottom-left(Clockwise)*/
    /* padding: 20px 25px 40px 30px; */


    /* margin-left: 100PX;
    margin-top: 60PX; */

    /* margin in all sides */
    /* margin:100px; */

    /* top-bottom left-right */
    /* margin:40px 30px; */


    width: 500px; 
    margin: 20px auto; /*Centre*/
    text-align: center;
    background-color: lightblue;
    
}




