/* rem - apne html ka root element jo ki html element ka size hota hai usaka (here) 2 times multiplication karata hai*/


.box1{
    font-size: 1rem; /*i.e 16px */
    font-size: 2rem; /*i.e 32px */
}

/* Now, we set html element font-size as 10px  */
html{
    font-size: 10px;
} 

/* or option to html is ':root' which has more specificity than html element*/
:root{
    /* font-size: 10px; */  /* this will not create responsiveness*/
    
    font-size: 62.5%; /*Sometimes developer write like this. 
                        16px ---> 100%
                        10px ---> (100/16 * 10) == 62.5%
                        This create responsiveness, if we change 
                        browser setting font size */ 
}

.box1{
    font-size: 2rem; /* i.e 20px */
}

.text-content{
    font-size: 3rem; /* 30px */
    border: 1rem ridge red;
    margin: 0.5rem; /* 5px */
    padding: 2.5rem; /* 25px */
}