* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.box-wrapper {
    border: 5px solid #222;
}

.box {
    border: 1px solid #666;
}

.box-1 {
    background-color: lightblue;
}
.box-2 {
    background-color: lightcoral;
}
.box-3 {
    background-color: lightcyan;
}
.box-4 {
    background-color: lightgreen;
}
.box-5 {
    background-color: lightsalmon;
}


/* ---------------------------------------------------------------------------------------------------------------------
flex-container :  justify-content : stretch; (defualt)     --> aligns the flex-items in cross-axis
                  align-content :                          --> aligns in cross-axis
--------------------------------------------------------------------------------------------------------------------- */
.box-wrapper {
    display: flex;
    height: 400px;
    /* align-items : flex-start;
    justify-content: space-evenly; */
    flex-wrap: wrap;

    /* now there will the space between flex-items row */
    align-items: flex-start;    

    /* now we use align-content : when we have more than one row of flex-items */
    align-content: flex-start;
    align-content: center;
    align-content: flex-end;
    align-content: space-around;
    align-content: space-between;

    justify-content: space-between;
}

.box {
    width: 500px;
}
