body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    background-color: #cdcdcd;
    padding: 10px 0px;
}

section h3{
    text-transform: uppercase;
}

.container{
    width: 1400px;
    margin:0px auto;
}

section{
    border: 2px solid black;
    padding: 10px;
}

.cls1{
    margin-bottom: 40px;
}
